@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 350px;
    height: 600px;
    padding: 1.25rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.images{
    position: relative;
    margin-bottom: 1.25rem;
    cursor: pointer;
}
.images:hover .img-overlay{
    display: block;
}

.images img{
    width: 100%;
    display: block;
    border-radius: 12px;
}
.img-overlay{
    background-color: hsla(178, 100%, 50% , 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    display: none;
    transition: 1s ease;

}
.img-overlay img{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.container h2{
    font-family: 'Outfit', sans-serif;
    color: white;
    margin-bottom: 1.25rem;
    cursor: pointer;
    transition: .1s ease;
}
.container h2:hover{
    color: hsl(178, 100%, 50%);
}

.container p{
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    margin-bottom: 1.25rem;
    font-size: 18px;
}
.price {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
}
.price span:first-child{
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
}
.price span:last-child{
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
}
.price .min-span{
    position: relative;
    top: -2px;
    margin-left: 0.125rem;
}
hr{
    margin-bottom: 1.25rem;
    border: 0;
    height: 1px;
    background-image: 
        linear-gradient(to right, 
        hsl(216, 50%, 16%) ,
        hsl(215, 32%, 27%) 1%,
        hsl(215, 32%, 27%) 99%,
        hsl(216, 50%, 16%));
}

.creator img{
    width: 11%;
    border-radius: 50%;
    border: solid 2px white;
}
.creator span{
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    position: relative;
    top: -25%;
    margin-left: 0.625rem;
}
.creator span a{
    color: white;
    text-decoration: none;
    transition: .1s ease;
}
.creator span a:hover{
    color: hsl(178, 100%, 50%);
}

@media (max-width:375px){
    .container{
        width: 320px;
        margin: 0 1.25rem;
    }
}
